<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css"
      integrity="sha512-z4cZ8Ipfx9954czqJ4NPtaF6idvxtONaZRMHVamchb2KVsGcDQl3IWRT8HnVBw6MHfdegokCqUTtgD0Xxmfjog=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      .OTPvalue{
        display:none;
      }
    </style>
    <link href="css/login.css" rel="stylesheet">
   
      
  </head>
  <body>
 {{>header}}
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>

                <form method="POST" action="/sendmail">
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control"
                        name="email"/>
                    <label class="form-label" for="form2Example11">email</label>
                  </div>
                  {{!-- <div class="form-outline mb-4">
                    <input type="password" id="form2Example11" class="form-control"
                        name="email"/>
                    <label class="form-label" for="form2Example11">password</label>
                  </div> --}}

                  <div class="mb-4 OTPvalue">
                    <input type="text"class="form-control" id="OTPvalue" name="input_value"/>
                    <label class="form-label" for="OTPvalue">Message</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1 ButtonHide">
                  <button type="submit" onClick="EmailSend()" class="btn btn-danger d-grid col-12 mx-auto">SendEmail</button>
                    <p class="mt-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-danger">Create new</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 {{>footer}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"
      integrity="sha512-DXEKT9U5aI4s0iPRILUN6itJ0BkIdMYmJg+nnirpdAklNOz972QQhjvdHYnDCn+5W/HBvAiXYG2UaHEHH87gpg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
        const EmailSend = ()=>{
        var email = document.getElementById("form2Example11").value;
        alert("OTP is sent to "+email);

        let display = 1;
        if(display == 1){
        document.getElementsByClassName("OTPvalue")[0].style.display = "inline";
        document.getElementsByClassName("ButtonHide")[0].style.display = "none";
        display = 0;
        } 
        else{
          document.getElementsByClassName("OTPvalue")[0].style.display = "none";
          console.log("print Hello");
          display = 1;
        }         
        
        }
      </script>
  </body>
</html>