<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    {{>header}}
    {{!-- <div class="container-head">
      <ul class="item">
        <li><a href="/breakfast">Breakfast</a></li>
        <li><a href="/lunch">Lunch</a></li>
        <li><a href="/dinner">Dinner</a></li>
        <li><a href="/evening">Evening</a></li>
        <li><a href="/all">All</a></li>
      </ul>
    </div> --}}


  <div class="card-position">
    <div class="card-container">
        <div class="card-body">
            <div class="card-number">2</div>
            <div class="category">
                Lunch
            <div class="card-title">
                <h2>Sea foods</h2>
                <div class="description">
                    <p> It is very delicious item to eat. Many people prefer this to eat as Evening item in their food</p>
                </div>
                <h3 align="right"><a href="/readmore">Read More...</a></h3>
                <img src="images/img11.jpg" alt="Food Images">
               <a href="/order"><button type="button">Order Now</button></a>
            </div>
        </div>
        </div>
    </div>




    <div class="card-container">
        <div class="card-body">
            <div class="card-number">12</div>
            <div class="category">
                lunch
            <div class="card-title">
                <h2>Momos </h2>
                <div class="description">
                    <p> It is very delicious item to eat. Many people prefer this to eat as Evening item in their food</p>
                </div>
                <h3 align="right"><a href="/readmore">Read More...</a></h3>
                <img src="images/img12.jpg" alt="Food Images">
                <a href="/order"><button type="button">Order Now</button></a>
            </div>
        </div>
        </div>
    </div>


    <div class="card-container">
        <div class="card-body">
            <div class="card-number">5</div>
            <div class="category">
                lunch
            <div class="card-title">
                <h2>colored pasta</h2>
                <div class="description">
                    <p> It is very delicious item to eat. Many people prefer this to eat as Evening item in their food</p>
                </div>
                <h3 align="right"><a href="/readmore">Read More...</a></h3>
                <img src="images/img12.jpg" alt="Food Images">
                <a href="/order"><button type="button">Order Now</button></a>
            </div>
        </div>
        </div>
    </div>



    <div class="card-container">
        <div class="card-body">
            <div class="card-number">9</div>
            <div class="category">
                lunch
            <div class="card-title">
                <h2>Prone with Garlic</h2>
                <div class="description">
                    <p> It is very delicious item to eat. Many people prefer this to eat as Evening item in their food</p>
                </div>
                <h3 align="right"><a href="/readmore">Read More...</a></h3>
                <img src="images/img13.jpg" alt="Food Images">
               <a href="/order"><button type="button">Order Now</button></a>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>

