<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadMore</title>
    <link href="css/readmore.css" rel="stylesheet" />
</head>
<body>
    {{>header}}
    <div class="read">
        <h1>Product Information</h1>
        <p>The product is high quality rich in ingredients and most people love to get it.<br>
        We ensure that if you buy this it is value for money</p>
    </div>
</body>
</html>