<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/header.css" rel="stylesheet">
</head>
<body>
    <div class="container-head">
      <ul class="item">
        <li><a href="/breakfast">Breakfast</a></li>
        <li><a href="lunch">Lunch</a></li>
        <li><a href="/dinner">Dinner</a></li>
        <li><a href="/evening">Evening</a></li>
        <li><a href="/all">All</a></li>
        <li><input type="text" id="searchInput" onkeyup="searchElement()" placeholder="search"/>
        {{!-- <span><i class="fa-solid fa-magnifying-glass" ></i></span> --}}
        {{!-- <span><input type="submit" value="search" onclick="searchElement()"></span>  for button search--}}
        </li>
      </ul>
    </div>
</body>
<script src="https://kit.fontawesome.com/8a1f7b5484.js" crossorigin="anonymous">
</script>
</html>